/* === ESTILO BOTÓN DE SUSCRIPCION DE CORREO === */
.btnSubscribe{

}

/* === SEPARACIÓN A LA DERECHA DEL TEXTO RESPECTO A LA COLUMNA EN LOS ANALISIS === */
.contenedor-izda{
    margin-right: 40px !important;
}

/* === SEPARACIÓN A LA IZQUIERDA DEL TEXTO RESPECTO A LA COLUMNA EN LOS ANALISIS === */
.contenedor-dcha{
    margin-left: 40px !important;
}

/* === SEPARACIÓN SUPERIOR ENCIMA DEL DIV DE TEXTO === */
.caja-texto{
    margin: 0 0 40px;
}

/* === ESTILO DE BORDE PARA LAS SECCIONES DE LOS ANALISIS === */
.reducirMargenSuperior{
    margin-top:-300px;
}

/* === QUITAMOS LOS MARGENES CUANDO SE ACTIVA EL MODO RESPONSIVE === */

@media (max-width: 991px) { /* Pixeles del tamano lg */
    .contenedor-izda{
        margin-right: 0px !important;
    }
    .contenedor-dcha{
        margin-left: 0px !important;
    }
}
