/* === SEPARACIÓN A LA DERECHA DEL TEXTO RESPECTO A LA COLUMNA EN LOS ANALISIS === */
.contenedor-izda{
    padding-right: 40px !important;
}

/* === SEPARACIÓN A LA IZQUIERDA DEL TEXTO RESPECTO A LA COLUMNA EN LOS ANALISIS === */
.contenedor-dcha{
    padding-left: 40px !important;
}

/* === SEPARACIÓN INFERIOR DEL DIV === */
.caja-texto{
    margin-bottom: 40px;
}

/* === SEPARACIÓN SUPERIOR DEL DIV === */
.separar-arriba{
    margin-top: 40px;
}

/* === ESTILO DE MARGEN PARA LAS SECCIONES DE LOS ANALISIS === */
.reducirMargenSuperior{
    margin-top:-300px;
}

/* === ESTILO DE LINEA INFERIOR DE LOS ENLACES, USADO ACTUALMENTE EN EL INDEX DE LOS ANALISIS === */
.enlace-blanco{
    text-decoration-color: white !important;
}

/* === QUITAMOS LOS MARGENES CUANDO SE ACTIVA EL MODO RESPONSIVE === */
@media (max-width: 991px) { /* Pixeles del tamano lg */
    .contenedor-izda{
        padding-right: 0px !important;
    }
    .contenedor-dcha{
        padding-left: 0px !important;
    }
}

/* === CLASE PARA ELIMINAR LOS TITULOS EN LAS CABECEERAS CON IMAGENES === */
@media (max-width: 500px) { /* Pixeles a los que aproximadamente aparece una barra blanca por el rebosamiento de un div */
    .desaparecer-movil{
        display: none;
    }
    .bajar-tamano-movil{ /* Clase para disminuir el tamaño del titulo h1 de la cabecera */
        font-size: 130% !important;
    }
    .bajar-tamano-subtitulo-movil{/* Clase para disminuir el tamaño del subtitulo de la cabecera, se usa de momento solo en el index */
        font-size: 80% !important;
    }
}

/* === ESTILO DEL BOTON DE SUSCRIPCION AL CORREO === */
.estirar-boton{
    padding: 1rem 1rem;
}

/* === ESTILO DEL REPRODUCTOR DE VÍDEO === */
/*.plyr {
    border-radius: 4px;
}*/

/* === CLASES CREADAS PARA MOSTRAR U OCULTAR EL REPRODUCTOR DE VÍDEO DE LA PÁGINA PRINCIPAL DEPENDIENDO DEL DISPOSITIVO QUE SE USE === */
.ocultar-en-movil{
    display: inherit
}
.mostrar-en-movil{
    display: none;
}

/* Si se activa el modo responsive lo que se mostraba ahora esta oculto */
@media (max-width: 991px) { /* Pixeles del tamano lg */
    .ocultar-en-movil{
        display: none
    }
    .mostrar-en-movil{
        display: inherit;
        height: 100%;
        width: 100%;
    }
}

/* Quitar la mayúsculas total del Login */
.quitarMayus {
    text-transform: none !important;
}