/* Clase para que en las fichas técnicas, la imagen tenga un pequeño margen */
.margen {
    padding-top: 20px !important;
    padding-right: 20px !important;
  }
  
  @media (max-width: 992px){
    .margen {
        padding: 0px !important;
    }
  }