  #galeriaacc{
    /*max-width: 100%;*/
    width:100%;
    /*margin-right: auto;
    margin-left: auto;*/
    padding:0;
  }

  #galeriaacc li{
    height:300px; /*el mismo alto que la imagen*/
    width:320px;/*el mismo ancho que la imagen*/
    display:block;
    padding:0;
    border:1px solid #ccc; /*el ancho, estilo y color de borde*/
    float:left;
    list-style:none;
    position:relative;
    overflow:hidden;
  }

  #galeriaacc a{
    background:none;
    padding:0;
    font-size:19px;
    color:#fff;
    text-align:center;
    white-space:nowrap
  }

  #galeriaacc li img{
    width:320px;/*ancho de la imagen*/
    height:300px; /*alto de la imagen*/
    padding:0;
    border:none
  }

  #galeriaacc span{
    width:320px;
    left:1px; /*el mismo ancho que el borde*/
    padding:3px 0 3px 0;
    background:#000;
    bottom:-8px;
    left:0px; filter:alpha(opacity=0);
    opacity:0;
    overflow:hidden;
    cursor:pointer; position:absolute;-webkit-transition:all .25s ease; -moz-transition:all .25s ease; -o-transition:all .25s ease; transition:all .25s ease;
  }

  #galeriaacc a:hover span{
    left:0;bottom:0; opacity:.8;filter:alpha(opacity=80)
  }
  
  #galeriaacc a span:hover{
    color:#5658BB /*color fuente al poner el puntero encima*/
  }